* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:sans-serif;
}

body {
  font-family: sans-serif;
  /* background: linear-gradient(180deg, #f6f7fb, #3d61ce); */
  background-image: url('../../public/images/bbggg.jpg');
  
  background-repeat: no-repeat;
  background-size: cover;
  color: #1f2937;
  height: 100vh;
  overflow: hidden;

}

.app-container {
  max-width: 100%;
  /* margin: auto; */
  padding: 20px 40px;
}
.header{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 28px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img{
  height: 50px;
  
}
.cat-box{
  
  display: flex;
  align-items: center;
  gap: 10px ;
  
}


.search-box {
  width: 275px;
  padding: 8px 16px;
  border-radius: 25px;
  border: 1px solid #e5e7eb;
  font-size: 15px;
  outline: none;
  transition: 0.25s ease;
  height: 20%;
  corner-shape:squircle;
  
}

.search-box:focus {
  border-color: #31e1a1;
 box-shadow: 0 10px 20px rgba(23, 223, 86, 0.304);

  
}
.search-box::placeholder {
 color: #6b728085;
}
.dropdown-cat{
  position: absolute;
  top: 4.5rem;
  right:415px ;
  z-index: 20;

    border-radius: 50px;
    corner-shape:squircle;
  padding: 20px;
  background-color: #ffffff;
    border-color: #31e1a1;
 box-shadow: 0 10px 20px rgba(23, 223, 86, 0.304);
 gap: 15px;
animation: slideRight  0.4s ease;

}
.dropdown-cat::before{
  content: "";
  position: absolute;
  top: -0.4rem;
  right: 1.9rem;
  background-color: white;
  height: 15px;
  width: 15px;
  transform: rotate(45deg);
/* animation: slideRight  0.4s ease; */

}
.dropdown-cat ul{
  display: flex;
  flex-direction:column;
  list-style: none;
  gap: 10px;
  animation: slideUp 0.4s ease;
}

.dropdown-sort{
  position: absolute;
  top: 4.5rem;
  right:320px ;
  z-index: 20;
  border-radius: 50px;
    corner-shape:squircle;

  padding: 20px;
  background-color: #ffffff;
    border-color: #31e1a1;
 box-shadow: 0 10px 20px rgba(23, 223, 86, 0.304);
 gap: 15px;
animation: slideRight  0.4s ease;

}
.dropdown-sort::before{
  content: "";
  position: absolute;
  top: -0.3rem;
  right: 1.6rem;
  background-color: white;
  height: 15px;
  width: 15px;
  transform: rotate(45deg);
/* animation: slideRight  0.4s ease; */

}
.dropdown-sort ul{
  display: flex;
  flex-direction:column;
  list-style: none;
  gap: 10px;
  animation: slideUp 0.4s ease;
}
.filter-container {
  display: flex;
  gap: 10px;
  margin: 25px 0;
  border-radius: 999px;
}

.filter-btn {
  padding: 8px 16px;
  border-radius: 90px;
  corner-shape:squircle;
  border: none;
  background-color: #31e1a1;
  color: #ffffff;
 box-shadow: 0 10px 20px rgba(23, 223, 86, 0.304);
  cursor: pointer;
  font-size: 14px;
  transition: all 0.25s ease;
  
animation: slideRight  0.4s ease;
  
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideRightMobile {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.filter-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(13, 255, 0, 0.32);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 25px;
  
  
}

.product-card {
  background: #F9FAFB;
  border-radius: 50px;
  corner-shape:squircle;
  overflow: hidden;
  /* box-shadow: 0 15px 40px rgba(0,0,0,0.08); */
  box-shadow: 0 10px 20px rgba(20, 199, 132, 0.45);
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.product-card:hover {
  transform: translateY(-8px);
  /* box-shadow: 0 30px 60px rgba(0,0,0,0.15); */
  box-shadow: 0 10px 20px rgba(20, 199, 132, 0.35);
}

.img-wrapper {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9fafb;
}

.img-wrapper img {
  max-height: 100px;
  transition: transform 0.4s ease;
}

.product-card:hover img {
  transform: scale(1.08);
}

.card-body {
  padding: 18px;
}

.product-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2px;
}

.product-desc {
  font-size: 10px;
  color: #6b7280;
  margin-bottom: 5px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: 500;
  color: #111827;
}

.rating {
  font-size: 14px;
  background: #fef3c7;
  padding: 4px 2px;
  border-radius: 8px;
  display: flex;
}

.scroll-wrapper {
  height: calc(100vh - 100px); 
  overflow-y: auto;
  padding: 10px 5px;
  scroll-behavior: smooth;

  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 20px,
    black calc(100% - 20px),
    transparent 100%
  );

  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 20px,
    black calc(100% - 20px),
    transparent 100%
  );
}

.scroll-wrapper::before {
  content: "";
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  pointer-events: none;
  z-index: 10;

  backdrop-filter: blur(12px);
  background: linear-gradient(
    to bottom,
    rgba(246,247,251,0.95),
    transparent
  );
}

/* .scroll-wrapper::before, */
.scroll-wrapper::after {
  content: "";
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  pointer-events: none;
  z-index: 10;

  backdrop-filter: blur(14px);
  background: linear-gradient(
    to top,
    rgba(246,247,251,0.95),
    transparent
  );
}

/* .scroll-wrapper::before {
  top: 0;
  backdrop-filter: blur(8px);
  background: linear-gradient(to bottom, rgba(246,247,251,0.9), transparent);
} */
/* 
.scroll-wrapper::after {
  bottom: 0;
  backdrop-filter: blur(8px);
  background: linear-gradient(to top, rgba(246,247,251,0.9), transparent);
} */

.scroll-wrapper::-webkit-scrollbar {
  width: 6px;
}

.scroll-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-wrapper::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 999px;
}

.scroll-wrapper::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}








.star-rating {
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #ddd;
}

.star-rating::before {
  content: "★★★★★";
}

.star-rating-filled {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: gold;
}

.star-rating-filled::before {
  content: "★★★★★";
}


.rating-abbr {
  text-decoration: none;
        
}



















.overlay-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  animation: fadeIn 0.25s ease;
}

.overlay-card {
  background: white;
  width: 90%;
  max-width: 900px;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 40px 80px rgba(0,0,0,0.25);
  animation: slideUp 0.35s ease;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: #f3f4f6;
  border-radius: 50%;
  corner-shape:squircle;
  width: 36px;
  height: 36px;
  font-size: 18px;
  cursor: pointer;
}

.overlay-content {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 30px;
}

.overlay-content img {
  max-width: 100%;
  max-height: 350px;
  object-fit: contain;
}

.overlay-info h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.overlay-category {
  color: #6366f1;
  font-size: 14px;
  margin-bottom: 12px;
}

.overlay-desc {
  color: #4b5563;
  line-height: 1.6;
  margin-bottom: 20px;
}
/* 
.overlay-meta {
  display: flex;
  gap: 20px;
  font-size: 16px;
  font-weight: 600;
} */

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes appear {
  from{
    opacity: 0;
    transform: translateX(-50px);
    /* scale: 0.5; */
    /* clip-path: inset(100% 100% 0 0); */
  }
  to{
    opacity: 1;
    transform: translateX(0px);
    /* scale: 1; */
    /* clip-path: inset(0 0 0 0); */
  }
}
@keyframes appearMobile {
  from{
    opacity: 0;
    transform: translateY(-50px);
    /* scale: 0.5; */
    /* clip-path: inset(100% 100% 0 0); */
  }
  to{
    opacity: 1;
    transform: translateY(0px);
    /* scale: 1; */
    /* clip-path: inset(0 0 0 0); */
  }
}

@keyframes slideUpMobile {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.block{
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0 ;
}






/*respnsive laout */


@media (max-width: 1024px) {

  body {
    overflow: auto;
  }

  .app-container {
    padding: 16px 20px;
  }

  .header {
    flex-wrap: wrap;
    gap: 12px;
  }

  .cat-box {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12px;
  }

  .search-box {
    width: 100%;
    max-width: 320px;
  }

  .dropdown-cat,
  .dropdown-sort,
   .dropdown-price {
    position: fixed;
    top: 90px;
    right: 50%;
    transform: translateX(50%);
    width: 260px;
  }

  .dropdown-cat::before,
  .dropdown-sort::before {
    display: none;
  }

  .scroll-wrapper {
    height: calc(100vh - 140px);
  }
}


@media (max-width: 768px) {

  body {
    overflow: auto;
    background-attachment: fixed;
  }

  .app-container {
    padding: 12px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }

  .logo {
    font-size: 22px;
  }

  .logo img {
    height: 40px;
  }

  .cat-box {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  .filter-btn {
    width: 100%;
    justify-content: center;
  }

  .search-box {
    width: 100%;
  }

  .dropdown-cat,
  .dropdown-sort,
  .dropdown-price {
    position: fixed;
    top: 120px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: 90%;
    max-width: 320px;
    padding: 16px;
  }

  .dropdown-price{
  
  margin-top: 34px}
  

  .dropdown-cat ul,
  .dropdown-sort ul {
    gap: 12px;
  }

  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 16px;
  }

  .product-card {
    border-radius: 28px;
  }

  .img-wrapper {
    height: 120px;
  }

  .img-wrapper img {
    max-height: 80px;
  }

  .card-body {
    padding: 14px;
  }

  .product-title {
    font-size: 13px;
  }

  .product-desc {
    font-size: 9px;
  }

  .scroll-wrapper {
    height: auto;
    padding-bottom: 40px;
  }
}


@media (max-width: 420px) {

  .product-grid {
    grid-template-columns: 1fr 1fr;
  }

  .dropdown-cat,
  .dropdown-sort ,
   .dropdown-price{
    width: 94%;
    animation: slideRightMobile  0.4s ease;
  }

  

  .filter-btn {
    font-size: 13px;
    padding: 10px;
    animation: slideRightMobile  0.4s ease;
  }
  .header{
    display: grid;

    grid-template-columns: 1fr;

  }
  .logo{
    justify-content: center;
  }
.cat-box {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }

.dropdown-price{
  margin-top: 38px}
  
.dropdown-price::before{
display: none;

}
.dropdown-sort::before{
  display: none;

}
.dropdown-cat::before{
  display: none;

}





}



/* price filte box */
/* .rangeInput{
 border: 0px solid;
} */






.dropdown-price{
  width: 280px;
  position: absolute;
  top: 4.5rem;
  right:555px ;
  z-index: 20;
  border-radius: 50px;
    corner-shape:squircle;

  padding: 20px;
  background-color: #ffffff;
    border-color: #31e1a1;
 box-shadow: 0 10px 20px rgba(23, 223, 86, 0.304);
 gap: 15px;
animation: slideRight  0.4s ease;
color: #454952e5; 


}
.dropdown-price::before{
  content: "";
  position: absolute;
  top: -0.3rem;
  right: 1.6rem;
  background-color: white;
  height: 15px;
  width: 15px;
  transform: rotate(45deg);
  
/* animation: slideRight  0.4s ease; */

}


.priceContainer{
  display: flex;
  gap: 20px;
  padding: 10px;
}
.priceContainer span{
  border: #31e1a1 solid 1px;
  height: auto;
  border-radius: 90px;
  padding: 8px;
  corner-shape:squircle;
 box-shadow: 0 10px 20px rgba(23, 223, 86, 0.304);

}
.priceContainer input{
  accent-color: #31e1a1;
 
}
.priceContainer input::-webkit-slider-runnable-track {background: rgb(88, 88, 88);
height: 16px;
  border-radius: 16px;

}
.priceContainer input::-moz-range-track
{background: black;
height: 16px;
  border-radius: 16px;

}
.priceContainer input::-webkit-slider-thumb{
  
}

.barContainer{
  width: 350px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.slider-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* .dropdown-price ul{
  display: flex;
  flex-direction:column;
  list-style: none;
  gap: 10px;
  animation: slideUp 0.4s ease;
} */

